<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <center>
    <h1>Wow, a Princeton Greeting Card!</h1>
    <%= image_tag("crest.png", :alt => "Princeton Crest", :size => "134x150") %>
  </center>
    <p>
      Dear <%= @card.to %>,
    </p>
    <p>
      Congratulations, you have received a greeting card from <%= @card.from %>!
    </p>
    <p>
      Please follow this link to view your card: <%= @url %>
    </p>
    <p>
      Have a great day!
    </p>
    <p>
      Princeton eCards
    </p>

  </body>
</html>