<footer><script type="text/javascript"><!--
google_ad_client = "ca-pub-4519985328020672";
/* pCards */
google_ad_slot = "1167609777";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br/>
We are currently in beta testing. Please <a href="mailto:eportnoy@princeton.edu" data-confirm="Be sure to include your OS (Mac, Windows, etc.) and your browser (Chrome, Firefox, Internet Explorer, Safari, etc.) in the email. Thanks!">notify</a> us if you find any bugs.<br/>
&copy; Erica Portnoy and Satyajeet Pal 2012</footer>