<div class="page-header jumbotron subhead"><h1>About pCard</h1></div>

<h2>What is this?</h2>
<p>Exactly what it sounds like! We love Princeton. You love Princeton. We love helping you show others how much you love Princeton.</p>


<h2>Who are we?</h2>

<p>We are a team of students who wanted an easy way to send Princeton-themed greeting cards to our friends and loved ones. After all, what better way to show your pride in Princeton than to send a holiday card to everyone you know with a beautiful image of Princeton in the background?</p>

<h3>Erica Portnoy</h3>
<p>Erica would rather get this site working than write something about herself. Interestingly, both then and than would have worked there. Also interestingly, she initally typed "Integer" instead of "Interest". And she just did it again. Maybe she should take more humanities classes and fewer math classes.</p>

<h3>Satyajeet Pal</h3>
<p>Princeton freshman engineer looking to study OR/FE</p>

<h2>Can I use your images/code/whatever?</h2>
<p>As long you attribute and link back. Code is &copy; Pal and Portnoy, photographs are &copy; Portnoy.</p>

<p><strong>We hope you enjoyed using this application. Please tell your friends about it!</strong></p>