<div class="page-header"><h1>About Us</h1></div>

<p>We are a team of students who wanted an easy way to send Princeton-themed greeting cards to our friends and loved ones. After all, what better way to show your pride in Princeton than to send a holiday card to everyone you know with a beautiful image of Princeton in the background?</p>

<h2>Who are we?</h2>

<h3>Erica Portnoy</h3>
<p>*****Description****</p>

<h3>Satyajeet Pal</h3>
<p>Princeton freshman engineer looking to to study OR/FE</p>

<p><strong>We hope you enjoyed using this application. Please tell your friends about it!</strong></p>