<div class="page-header"><h1>About Us</h1></div>

<p>We are a team of students who wanted an easy way to send Princeton-themed greeting cards to our friends and loved ones. After all, what better way to show your pride in Princeton than to send a Christmas card to everyone you know with a beautiful image of Princeton in the background.</p>

<h2>Who are we?</h2>

<p>Erica Portnoy<br/> *****Description**** </p>

<p>Satyajeet Pal<br/>Princeton freshman engineer looking to to study OR/FE</p>

<h3>We hope you enjoyed using this application. Please tell your friends about it!</h3>