<div class="page-header"><h1>Editing card</h1></div>

<%= render 'form' %>

<div class="actions form-actions">
	<%= @card.submit "Preview", :type => "submit", :class => "btn btn-primary" %>
	<%= button_to "Cancel", @card, :confirm => 'Are you sure?', :method => :delete, :type => "reset", :class => "btn" %>
</div>