<center>
    <header class="jumbotron masthead" id="overview">
      <h1>Welcome!</h1>
        <p class="lead">
            Like other people? Don't like other people? Like proving that you go to Princeton? Send a customized Princeton greeting card!
        </p>
        <p>
    	<%= link_to 'Make a Card', new_card_path, :method => :get, :class => "btn btn-primary btn-large" %>
    	</p>
    </header>
    <%= render "shared/footer" %>
</center>
