<div class="page-header"><h1>New card</h1></div>

<%= render 'form' %>

<div class="actions form-actions">
	<%= @card.submit "Preview", :type => "submit", :class => "btn btn-primary" %>
	<%= button_to "Cancel", cards_path, :method => :get, :confirm => 'Are you sure?', :type => "reset", :class => "btn" %>
</div>

