<div class="page-header jumbotron subhead"><h1>Your card was sent!</h1></div>

<%= button_to 'Make Another Card', new_card_path, :method => :get, :class => "btn" %>
<%= button_to "View your card", show_card_path(@card), :method => :get, :class => "btn"%>

<p>Your card's url:</p>
<p><%= card_url(@card) %></p>