<div class="page-header"><h1>Your card was sent!</h1></div>

<%= button_to 'Make Another Card', new_card_path, :method => :get, :class => "btn" %>
<%= button_to "View your card", view_card_path(@card), :method => :get, :class => "btn"%>