<div class="page-header"><h1>Preview</h1></div>
<p id="notice"><%= notice %></p>

<%= render 'form_preview' %>


<%= button_to 'Edit', edit_card_path(@card), :method => :get, :class => "btn" %>
<%= button_to "Send!", sent_card_path(@card), :method => :get, :class => "btn btn-success" %>
