<div class="page-header jumbotron subhead"><h1>You got a pCard!</h1></div>
<%= render 'form_preview' %>
<%= button_to 'New pCard', new_card_path, :method => :get, :class => "btn" %>
<%= render "shared/footer" %>