@import "twitter/bootstrap";

@navbarBackground: #F46F1B;
@navbarBackgroundHighlight: #DF8E28;
@navbarLinkColor: #fff;
@navbarText: #fff;
@navbarLinkColorHover: #333;

.dropdown-menu {
    background-color: #2F2A6C; // defaults to #333

	li a {
	      color: #999;
	      text-shadow: 0 1px 0 rgba(0,0,0,.5);
	      &:hover {
	        #gradient > .vertical(@navbarBackgroundHighlight, #1B183E);
	        color: @white;
			}
	}
}

.message {
	height:200px;
}

.thumbnail {
	margin:0px;
	padding:0px;
}

label .radio {
	padding:0px;
}

.preview {
	margin:0px;
}

.navbar .nav  li  a {
	color:#fff;
}
.navbar .nav  li  a:hover {
	color:#CCC;
}

.field {
	margin-top:6px;
}

.card .text p {
	margin:6px;
}